@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Rubik', sans-serif;
}
.search-bar-container{
  background-image: url(../public/images/pattern-bg-desktop.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media (max-width:1280px) {
  .stats{
    top: 200px!important;
  }
}
@media screen and (max-width:375px) {
  .stats{
    left: 0;
    right: 0;
    margin: auto;
    top: 220px!important;
  }
}

@media (min-width:376px) and (max-width:769px) {
  input{
    width: 100%!important;
    padding: 15px!important;
  }
  .stats{
    top: 260px!important;
  }
}
@media screen and (max-width:640px) {
  input{
    width: 70%!important;
  }
  button svg{
    height: 56px!important;
  }
}
.stats{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  top: 235px;
  left: 0;
  right: 0;
  background-color: white;
  border-radius: 10px;
  z-index: 100;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  gap: 20px;
  width: 75%;
  margin: auto;
}
.stats div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.stats p{
  margin: 10px;
  padding: 10px;
}
@media screen and (max-width:1000px) {
  .stats{
    flex-direction: column;
    gap: 0px;
    padding: 0;
  }
  .stats p{
    padding: 2px;
  }
}
