@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root{
  --Very-Dark-Gray: hsl(0, 0%, 17%);
  --Dark-Gray: hsl(0, 0%, 59%);
  --font-size: 18px;
}

body{
  background-color: var(--Very-Dark-Gray);
  color: white;
  font-family: 'Rubik', sans-serif;
  font-size: var(--font-size);
}