@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Rubik', sans-serif;
}
.search-bar-container{
  background-image: url(../public/images/pattern-bg-desktop.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media screen and (max-width:375px) {
  .stats{
    left: 0;
    right: 0;
    margin: auto;
  }
}
